[Unit]
Description=Xbox controller driver daemon
Documentation=man:xboxdrv(1)

[Service]
Type=simple
User=root
PIDFile=/var/run/xboxdrv.pid
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/xboxdrv --daemon --detach-kernel-driver --pid-file /var/run/xboxdrv.pid --dbus disabled --silent

[Install]
WantedBy=multi-user.target