[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service
[Service]
Type=simple
User=rover2
ExecStart=/usr/sbin/roverrobotics
[Install]
WantedBy=multi-user.target
